{% include 'base.html' %}
{% include 'navigation.html' %}

{% block content %}

<h1 class="Text-center" style="margin-top: 50px;">About Us</h1>
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-6">
            <h1 class="strong">Who We Are and<br>What We Do</h1>
            <p class="lead">Welcome to our Hospital Management System.<br>We make healthcare accessible and easy for patients.</p>
        </div>
        <div class="col-md-6">
            <p>Our Hospital Management System is designed to help you navigate your healthcare needs with ease. Whether it’s booking an appointment, checking your medical records, or accessing other services, our system is here to make things easier for you.</p>
            <p>With our commitment to providing the best care, we offer a wide range of facilities and services to ensure that your experience with us is smooth, safe, and comfortable.</p>
        </div>

        <div class="row mt-5">
            <div class="site-heading text-center">
                <h3>Our Team</h3>
                <p>Our dedicated team of doctors, nurses, and staff is here to provide you with the best care possible.</p>
                <div class="border"></div>
            </div>
        </div>
    </div>
</div>

    
{% endblock content %}
{% include 'footer.html' %}
